<template>
    <section style="background-color:yellow;">
        {{ saludo }}
        <br>
        <v-btn v-if="mostrarRoles" :to="'/usuarios'" color="primary">Usuarios</v-btn>
        <v-btn v-if="mostrarRoles" :to="{ name: 'Roles'}" color="secondary">Roles</v-btn>
        <v-btn v-if="mostrarRoles" @click="irARoles()">Roles</v-btn>
    </section>
</template>
<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {
            saludo: 'BIENVENIDO A LA APLICACION',
            mostrarRoles: false,
            rol: ''
        }
    },
    methods: {
        irARoles () {
            this.$router.push('/app/roles')
            console.log(this.$router)
        }
    },
    mounted () {
        this.rol = localStorage.getItem('rol')
        if (this.rol=='ADMIN')
        {
            this.mostrarRoles = true
        }
        else
        {
            this.mostrarRoles = false
        }
    },
    computed: {
        ...mapState(['usuarios']) }
}

</script>
