<template>
    <section style="background-color:yellow;">
        {{ saludo }}
        <br>
        
</template>
<script>

export default {
    data () {
        return {
            saludo: 'BIENVENIDO A LA APLICACION PARA TECNICOS'
        }
    },
    methods: {
        
    }
}

</script>
