<template>
    <section>
        <h1>INICIO DE SESION</h1>
        
        <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="usuario.usuario"
      :counter="10"
      label="Usuario"
      required
    ></v-text-field>

    <v-text-field
      v-model="usuario.contrasena"
      label="Contraseña"
      required
    ></v-text-field>

       

    <v-btn
      :disabled="!valid"
      color="primary"
      class="mr-4"
      @click="validate"
    >
      Ingresar
    </v-btn>

    <v-btn
      color="secondary"
      class="mr-4"
      @click="reset"
    >
      Cancelar
    </v-btn>

    
  </v-form>

        <router-view/>
    <v-alert v-if="visible" type="error">{{ mensaje }}</v-alert>
    </section>
    
</template>
<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {
           valid: true,
          usuario: 
          {
              usuario: '',
              contrasena: '',
              rol: ''
          },
          mensaje: '',
          visible: false
        }
    },
     methods: {
      validate () {
        this.$refs.form.validate()

        //console.log(this.$store.state.usuarios)

        // prueba con admin
        //this.usuario.rol = 'ADMIN'
        //console.log(this.usuario)
        const existeUsuario = this.$store.state.usuarios.find(user => user.usuario === this.usuario.usuario)
        //console.log(existeUsuario.contrasena)
        if (existeUsuario.contrasena == this.usuario.contrasena)
        {
            localStorage.setItem('usuario', this.usuario.usuario)
            localStorage.setItem('contrasena', this.usuario.contrasena)
            localStorage.setItem('token', this.usuario.usuario+this.usuario.contrasena)
            localStorage.setItem('rol', existeUsuario.rol)
            if (existeUsuario.rol == 'ADMIN')
            {
                this.$router.push('/app')
            }
            else
            {
                this.$router.push('/tech')
            }
            
        }
        else
        {
            this.mensaje = "Usuario no autenticado correctamente"
            this.visible = true
            console.log(this.mensaje)
        }
      },
      reset () {
        this.$refs.form.reset()
        this.visible = false
      },
     
    },
    mounted () {
            localStorage.removeItem('token')
            localStorage.removeItem('usuario')
            localStorage.removeItem('contrasena')
    },
    computed: {
        ...mapState(['usuarios']) }
}
</script>