<template>
    <section style="background-color:cyan;" class="pa-md-16">
        <p style="color:white">ROL ASIGNADO:{{ nombreRol }}</p>
        <v-btn
                  color="pink"
                  fab
                  dark
                  small
                  top
                  left
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>

        <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
            <th>Acciones</th>
            <th>Id</th>
          <th class="text-left">
            Nombre
          </th>
          <th class="text-left">
            Descripcion
          </th>
            <th>Fecha Creacion</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(rol, index) of roles" :key="index">
          <td>
              <v-btn fab small color="warning">
              <v-icon dark>
                mdi-pencil
              </v-icon>
              </v-btn>
              <v-btn fab small color="error">
              <v-icon dark>
                mdi-delete
              </v-icon>
              </v-btn>
        </td>
          <td>{{ index + 1 }}</td>
          <td>{{ rol.nombre }}</td>
          <td>{{ rol.descripcion }}</td>
          <td>{{ rol.fechaCreacion }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>

    </section>
</template>
<script>

export default {
    data () {
        return {
            nombreRol: null,
            roles: [
                {
                    id: 1,
                    nombre: 'Administrador',
                    descripcion: 'Administrador del Sistema',
                    fechaCreacion: new Date()
                }
            ]
        }
    },
    mounted () {
        this.rol = localStorage.getItem('rol')
        //this.rol = this.$route.params.rol
        if (this.rol =='ADMIN') {
          this.nombreRol = "ADMINISTRADOR"
        }
        if (!this.nombreRol) {
            this.nombreRol='Sin Rol asignado'
        }

    }
}

</script>