<template>
    <section style="background-color:pink;">
        {{ saludo }}
    </section>
</template>
<script>

export default {
    data () {
        return {
            saludo: 'LISTA DE USUARIOS'
        }
    },
    mounted () {
        console.log(this.$route.params)
    }
}

</script>