<template>
    <section style="background-color:pink;">
        <v-list two-line>
        <v-subheader inset>Notas</v-subheader>
      <v-list-item-group
                active-class="pink--text"
      >
        <template v-for="(item, index) of listaNotas">
          <v-list-item :key="`${item.titulo}-${index}`">
            <template>
              <v-list-item-content>
                 
                <v-list-item-title v-text="item.titulo"></v-list-item-title>


                <v-list-item-subtitle v-text="item.descripcion"></v-list-item-subtitle>
              </v-list-item-content>
                <v-list-item-action>
                     <v-btn icon>
                    <v-icon color="red" @click="$store.commit('eliminarNota', index)">mdi-delete</v-icon>
                    </v-btn>
                </v-list-item-action>
              
            </template>
          </v-list-item>

          <v-divider
            v-if="index < listaNotas.length - 1"
            :key="index"
          ></v-divider>
        </template>
      </v-list-item-group>
    </v-list>
    </section>
</template>
<script>

import notas from './notas'

export default {
    mixins: [notas],
    data () {
        return {

        }
    },
}
</script>
