<template>
    <section>
    <v-app-bar app
      color="primary"
      dense
      dark
    >
      <v-app-bar-nav-icon @click="setDrawer()"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ nombrePagina }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
        <v-btn icon @click="logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        
      </v-menu>
    </v-app-bar>

        
        <v-navigation-drawer app v-model="drawer">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            OPCIONES
          </v-list-item-title>
          <v-list-item-subtitle>
            Rol Administrador
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link @click="irRuta(item)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    
    <v-main>
        <router-view/>
    </v-main>


        
        <p>FOOTER</p>
    </section>
</template>
<script>
export default {
    data () {
        return {
            drawer: true,
            nombrePagina: 'Inicio - Administradores',
        items: [
          { title: 'Inicio', icon: 'mdi-home', ruta: '/', name: 'Inicio' },
          { title: 'Usuarios', icon: 'mdi-account', ruta: 'usuarios', name: 'Usuarios' },
          { title: 'Roles', icon: 'mdi-briefcase', ruta: 'roles' , name: 'Roles' },
          { title: 'Salir', icon: 'mdi-logout', ruta: '../views/Login.vue', name: 'Login'}
        ]

        }
    },
    methods: {
        setDrawer () {
            //motrar ocultar el drware
            this.drawer = !this.drawer
        },
        irRuta (itemMenu) {
            console.log(itemMenu)
            console.log(this.$route)
            if (this.$route.name !== itemMenu.name)
            {
                this.$router.push({ name: itemMenu.name })
            }
        },
        logout () {
            localStorage.clear()
            this.$router.push('/')
        }
    },
    watch: {
        '$route' (to, from) {
            this.nombrePagina = to.name
            console.log(from)
        }
    }
}
</script>