<template>
    <section>
        <!--<p>NO NECESITA DE SESSION</p>-->
        <router-view/>
    </section>
</template>
<script>
export default {
    data () {
        return {

        }
    }
}
</script>
